%invisible {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

[name="movieRatings"] {
  width: 100%;
}

.tags {
  .tag {
    display: inline-block;
    list-style-type: none;
    border: 1px solid;
    margin: 0.25em;
    //.genre--listing &,
    .tag-label {
      padding: 0.5em;
      cursor: pointer;
      display: block;
    }
    [type="checkbox"]:checked + label {
      color: rgb(255,255,255);
      background-color: hsla(0, 0, 0, 0.5);
    }
    .genre--selector {
      @extend %invisible;
    }
  }
}

.movieListing {
  display: flex;
  //justify-content:space-between;
  flex-wrap: wrap;

  .movie {
    flex: 0 0 300px;
    position: relative;
    background-color: hsla(0, 0, 0, 0.5);

    .movie--credits {

      padding: 1.0rem;
      color: hsl(0, 0%, 100%);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .movie--genres {
        margin: 0;
        padding: 0;
      }

    }

    .movie--poster {
      width: 100%;
      flex: 0 0 auto;
     }
  }
}